# üìå **Pandas Basics for Data Engineering**

### Instructor: Kao Panboonyuen

In this course, we'll cover everything you need to know to work with **Pandas DataFrames**. Topics include:

1. **Creating DataFrames**
2. **Indexing & Selecting Data** (`iloc` & `loc`)
3. **Basic DataFrame Operations**
4. **Handling Missing Data** (`fillna`)
5. **String Operations in Pandas**
6. **Filtering & Sorting Data**
7. **GroupBy & Aggregation**
8. **Feature Engineering** (Creating New Features)
9. **Saving & Loading Data** (CSV, Excel)
10. **Basic Data Visualization in Pandas**
11. **Joining & Merging DataFrames**

Each section comes with **code examples** and **assignments** to reinforce your learning.

Let‚Äôs dive in and get started! üöÄ

# 1Ô∏è‚É£ Creating DataFrames in Pandas

You can create DataFrames using dictionaries, lists, and lists of dictionaries.

üîπ Creating a DataFrame from a Dictionary

In [ ]:
import pandas as pd

data_dict = {
    'Customer_ID': [101, 102, 103, 104, 105],
    'Customer_Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Product': ['Laptop', 'Phone', 'Tablet', 'Laptop', 'Phone'],
    'Price': [1200, 800, 600, 1300, 850],
    'Salary': [5000, 6000, 7000, 4000, 6500]
}

df = pd.DataFrame(data_dict)
df

## üîπ Creating a DataFrame from a List of Lists

In [ ]:
data_list = [
    [101, 'Alice', 'Laptop', 1200, 5000],
    [102, 'Bob', 'Phone', 800, 6000],
    [103, 'Charlie', 'Tablet', 600, 7000],
    [104, 'David', 'Laptop', 1300, 4000],
    [105, 'Eve', 'Phone', 850, 6500]
]

columns = ['Customer_ID', 'Customer_Name', 'Product', 'Price', 'Salary']
df_list = pd.DataFrame(data_list, columns=columns)
df_list

## üìå Assignment 1:
Create a DataFrame about students with columns 'Student_ID', 'Name', 'Age', 'GPA', and 'Major'.

In [ ]:
# Insert your code here

- Expected Output
![](https://github.com/kaopanboonyuen/CP020001_ComputerProgramming_2024s2/raw/main/img/pd_as01_2.png)

# 2Ô∏è‚É£ Selecting Data in Pandas (iloc & loc)

## üîπ Using .iloc[] for Index-Based Selection

In [ ]:
# Select first 3 rows
df.iloc[:3]

In [ ]:
# Select second row
df.iloc[1]

In [ ]:
# Select first 3 rows and first 2 columns
df.iloc[:3, :2]

## üîπ Using .loc[] for Label-Based Selection

In [ ]:
# Select a single row by index
df.loc[2]

In [ ]:
# Select rows where Price > 1000
df.loc[df['Price'] > 1000]

In [ ]:
# Select specific columns
df.loc[:, ['Customer_Name', 'Product']]

## üìå Assignment 2:
Select all customers who bought a laptop and show only 'Customer_Name' and 'Price'.

In [ ]:
# Insert your code here

# 3Ô∏è‚É£ Basic DataFrame Operations

In [ ]:
df.head()    # First 5 rows

In [ ]:
df.shape     # (rows, columns)

In [ ]:
df.info()    # Data type of each column

In [ ]:
df.describe()  # Summary statistics

# 4Ô∏è‚É£ Handling Missing Data (fillna)

In [ ]:
# df.fillna(0)  # Replace NaN with 0
# df.fillna(df.mean())  # Replace NaN with column mean
# df.dropna()  # Drop missing rows

# 5Ô∏è‚É£ String Operations in Pandas

In [ ]:
df['Customer_Name'].str.lower()   # Convert to lowercase

In [ ]:
df['Customer_Name'].str.upper()   # Convert to uppercase

In [ ]:
df['Customer_Name'].str.contains('Alice')  # Check if contains

# 6Ô∏è‚É£ Filtering & Sorting Data

In [ ]:
df[df['Price'] > 1000]  # Filter rows

In [ ]:
df.sort_values('Price', ascending=False)  # Sort by price

# 7Ô∏è‚É£ GroupBy & Aggregation

In [ ]:
df.groupby('Product')['Price'].mean()  # Average price per product

In [ ]:
df.groupby('Product').agg({'Price': ['mean', 'max', 'min']})  # Multiple aggregations

# 8Ô∏è‚É£ Feature Engineering (Creating New Features)

In [ ]:
df['Discounted_Price'] = df['Price'] * 0.9  # 10% discount

In [ ]:
df.head()

In [ ]:
df['Salary_to_Price'] = df['Salary'] / df['Price']  # Ratio

In [ ]:
df.head()

## üîπ Using apply() for Custom Functions

In [ ]:
def categorize_salary(salary):
    return 'High' if salary > 6000 else 'Low'

df['Salary_Category'] = df['Salary'].apply(categorize_salary)

In [ ]:
df.head()

# 9Ô∏è‚É£ Saving & Loading Data

In [ ]:
df.to_csv('data.csv', index=False)  # Save
df = pd.read_csv('data.csv')  # Load

# üîü Basic Data Visualization

In [ ]:
import matplotlib.pyplot as plt

df['Price'].plot(kind='hist')  # Histogram
df['Product'].value_counts().plot(kind='bar')  # Bar chart

# 1Ô∏è‚É£1Ô∏è‚É£ Joining & Merging DataFrames

In [ ]:
df1 = pd.DataFrame({'Customer_ID': [101, 102, 103], 'Region': ['North', 'South', 'East']})
df2 = pd.merge(df, df1, on='Customer_ID', how='left')
df2

# üìå Final Assignment:
- Create a new feature Discounted_Price (Price with a 20% discount).
- Filter customers who have a salary above 6000 and sort them by price (descending order).

In [ ]:
# Insert your code here

# üîπ Post-Test Questions

## üìå Given df2

In [ ]:
import pandas as pd

# Creating a sample DataFrame (df2)
data = {
    'Customer_ID': [101, 102, 103, 104, 105, 106],
    'Customer_Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank'],
    'Product': ['Laptop', 'Phone', 'Tablet', 'Laptop', 'Phone', 'Tablet'],
    'Price': [1200, 800, 600, 1300, 850, 500],
    'Salary': [5000, 6000, 7000, 4000, 6500, 5500],
    'Region': ['North', 'South', 'East', 'North', 'West', 'South']
}
df2 = pd.DataFrame(data)
df2

## 1Ô∏è‚É£ Select customers who bought a laptop and have a salary above 4500. Show only 'Customer_Name' and 'Price'.

In [ ]:
# Insert your code here

## 2Ô∏è‚É£ What is the average price for each product category?

In [ ]:
# Insert your code here

## 3Ô∏è‚É£ Create a new column Discounted_Price with a 15% discount on the Price.

In [ ]:
# Insert your code here

## 4Ô∏è‚É£ Count how many customers are from each region.

In [ ]:
# Insert your code here

## 5Ô∏è‚É£ Sort the DataFrame by Salary in descending order and show only 'Customer_Name' and 'Salary'.

In [ ]:
# Insert your code here